.header {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto 0;

  .logo {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;

    a {
      border: none;

      img {
        width: 100%;
      }
    }
  }
}
